# 시리즈 만들기 - 리스트

In [ ]:
import pandas as pd

s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [ ]:
s = pd.Series(['name', 'heedean'], index=['title', 'Person'])
print(s)

title        name
Person    heedean
dtype: object

# 데이터프레임 만들기

In [ ]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'], # 딕셔너리
          'Born' : ['1920-07-25', '1876-06-13'],
          'Died' : ['1958-04-16', '1937-10-16'],
          'Age' : [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)
          
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [ ]:
first_row = scientists.loc['William Gosset']

print(type(first_row))

<class 'pandas.core.series.Series'>

In [ ]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [ ]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [ ]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [ ]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [ ]:
print(first_row.index[0])

Occupation

In [ ]:
print(first_row.keys()[0])

Occupation

In [ ]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
]))
          
print(scientists)

In [ ]:
scientists = pd.read_csv('scientists.csv')

ages = scientists['Age']

print(ages.mean())

59.125

In [ ]:
print(ages[ages > ages.mean()]) # 불린 추출

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

# Broadcasting : 모든 데이터 한번에 연산

1. 벡터 : 여러 값을 가진 데이터 (시리즈)
2. 스칼라 : 단일 데이터

In [48]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [49]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [50]:
rev_ages = ages.sort_index(ascending=False)

print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [53]:
print(ages + rev_ages) # =(ages * 2) (Why? 일치하는 인덱스 값끼리 연산)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [54]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [55]:
print(scientists * 2)

                                       Name  ...                            Occupation
0        Rosaline FranklinRosaline Franklin  ...                        ChemistChemist
1              William GossetWilliam Gosset  ...              StatisticianStatistician
2  Florence NightingaleFlorence Nightingale  ...                            NurseNurse
3                    Marie CurieMarie Curie  ...                        ChemistChemist
4                Rachel CarsonRachel Carson  ...                    BiologistBiologist
5                        John SnowJohn Snow  ...                    PhysicianPhysician
6                    Alan TuringAlan Turing  ...  Computer ScientistComputer Scientist
7                  Johann GaussJohann Gauss  ...            MathematicianMathematician

[8 rows x 5 columns]

In [56]:
# object = string
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [57]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [58]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')

print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [59]:
# 열 추가
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)

print(scientists.head())

                   Name        Born  ...    born_dt    died_dt
0     Rosaline Franklin  1920-07-25  ... 1920-07-25 1958-04-16
1        William Gosset  1876-06-13  ... 1876-06-13 1937-10-16
2  Florence Nightingale  1820-05-12  ... 1820-05-12 1910-08-13
3           Marie Curie  1867-11-07  ... 1867-11-07 1934-07-04
4         Rachel Carson  1907-05-27  ... 1907-05-27 1964-04-14

[5 rows x 7 columns]

In [61]:
print(scientists.shape)

(8, 7)

In [62]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])

print(scientists)

                   Name        Born  ...    died_dt  age_days_dt
0     Rosaline Franklin  1920-07-25  ... 1958-04-16   13779 days
1        William Gosset  1876-06-13  ... 1937-10-16   22404 days
2  Florence Nightingale  1820-05-12  ... 1910-08-13   32964 days
3           Marie Curie  1867-11-07  ... 1934-07-04   24345 days
4         Rachel Carson  1907-05-27  ... 1964-04-14   20777 days
5             John Snow  1813-03-15  ... 1858-06-16   16529 days
6           Alan Turing  1912-06-23  ... 1954-06-07   15324 days
7          Johann Gauss  1777-04-30  ... 1855-02-23   28422 days

[8 rows x 8 columns]

In [66]:
import random

random.seed(42)
random.shuffle(scientists['Age'])

print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

/usr/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [70]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [69]:
# 열 삭제
scientists_dropped = scientists.drop(['Age'], axis=1)

print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 데이터 저장

In [76]:
# 피클 : 바이너리 형태 오브젝트(소용량)

names = scientists['Name']
names.to_pickle('./names.pickle')

scientists.to_pickle('./scientists.pickle')

scientists_names_from_pickle = pd.read_pickle('./names.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [79]:
# CSV
names.to_csv('./names.csv')

# TSV
scientists.to_csv('./scientists.tsv', sep='\t')

# 엑셀 (데이터 프레임)
names_df = names.to_frame() 

import xlwt
names_df.to_excel('./names.xls')

import openpyxl
names_df.to_excel('./names.xlsx')