In [19]:
# 리스트 컴프리헨션 : []안에 조건문, 반복문 
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

[i for i in a if i not in remove_set]

[1, 2, 4]

In [20]:
# 문제. 0~19 수 중 홀수만 포함하는 리스트
[i for i in range(20) if i % 2 == 1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
# 조건문
score = 85
'Sucess' if score >= 80 else 'Fail'

'Sucess'

In [22]:
# Lambda Express
print((lambda a,b: a+b)(2, 3))

5

In [23]:
# 문제. 튜플의 두번째 원소를 기준으로 내림차순 정렬
sorted([('a', 35), ('b', 75), ('c', 50)], reverse=True, key=lambda x: x[1])

[('b', 75), ('c', 50), ('a', 35)]

In [24]:
data = ['A', 'B', 'C']

from itertools import permutations # 순서 O
list(permutations(data, 3))

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]

In [25]:
from itertools import combinations # 순서 X
list(combinations(data, 2))

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [27]:
from itertools import product # 순서 O
list(product(data, repeat=2))

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'A'),
 ('B', 'B'),
 ('B', 'C'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'C')]

In [29]:
from itertools import combinations_with_replacement # 순서 X
list(combinations_with_replacement(data, 2))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [31]:
from bisect import bisect_left, bisect_right

a = [1, 2, 4, 4, 8]
x = 4

# a에 x를 삽입할 인덱스 반환
print(bisect_left(a, x))
print(bisect_right(a, x))

2
4

In [35]:
# 시간 복잡도 (list)
# 맨 앞 원소 추가 및 제거 : O(N)
# 맨 뒤 원소 추가 및 제거 : O(1)

# 시간 복잡도 (deque) : 언제나 O(1)
from collections import deque # 스택, 큐 구현 가능
data = deque([2, 3, 4])
data.appendleft(1)
data.append(5)
data.pop()

data

deque([1, 2, 3, 4])

In [38]:
from collections import Counter
counter = Counter([1, 2, 2, 3, 3, 3])

print(counter[3])
print(counter[1])
print(dict(counter))

3
1
{1: 1, 2: 2, 3: 3}

In [39]:
import math
math.gcd(21, 14) # 최대 공약수

7